body {
    background-color: rgb(205, 243, 250);
}
.banner1 {
    display: inline-flex;
    background-color: rgb(18, 46, 65);
    color: white;
    width: 1440px;
    height: 72px;
    margin: 25px 25px 25px 25px;
}
.banner1 p {
    font-family: Kdam Thmor Pro;
    font-size: 15px;
    margin: 15px 0px 25px 85px;
}
.banner1 a {
    font-family: Kdam Thmor Pro;
    font-size: 15px;
    width: 110px;
    height: 35px;
    text-decoration-line: underline;
    color: #4AD295;
    margin: 25px 25px 25px 55px;
}
.banner1 button {
    font-family: Kdam Thmor Pro;
    color: white;
    font-size: 18px;
    width: 170px;
    height: 35px;
    background-color: #20cf52;
    margin: 15px 25px 25px 25px;
    border-radius: 5px;
    border: none;
}

.banner2 {
    display: inline-flex;
    background-color: black;
    color: white;
    width: 1440px;
    height: 72px;
    margin: 25px 25px 25px 25px;
}

.banner2p {
    font-family: Kdam Thmor Pro;
    display: inline-flex;
    font-size: 15px;
    color: white;
    margin: 15px 0px 25px 85px;
}

.banner2 button {
    font-size: 10px;
}